In [ ]:
String based assignment problem :

In [ ]:
1. Write a program to reverse a string.

In [1]:
def reverse_string(input_string):
    return input_string[::-1]

# Input string
input_str = input("Enter a string: ")

# Call the function to reverse the string
reversed_str = reverse_string(input_str)

# Print the reversed string
print("Reversed string:", reversed_str)

Enter a string:  Welcome to pwskills

Reversed string: sllikswp ot emocleW

In [ ]:
2. Check if a string is a palindrome.

In [3]:
def is_palindrome(input_string):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    input_string = input_string.replace(" ", "").lower()
    reversed_str = input_string[::-1]
    return input_string == reversed_str

# Input string
input_str = input("Enter a string: ")

if is_palindrome(input_str):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string:  racecar

The string is a palindrome.

In [ ]:
3. Convert a string to uppercase.

In [4]:
input_str = "Hello, World!"
uppercase_str = str.upper(input_str)
print(uppercase_str)

HELLO, WORLD!

In [ ]:
4. Convert a string to lowercase.

In [5]:
input_str = "Hi PWskills!"
lowercase_str = str.lower(input_str)
print(lowercase_str)

hi pwskills!

In [ ]:
5. Count the number of vowels in a string.

In [6]:
def count_vowels(input_string):
    # Convert the input string to lowercase to make it case-insensitive
    input_string = input_string.lower()
    
    # Initialize a variable to keep track of the count
    count = 0
    
    # Define the set of vowels
    vowels = {'a', 'e', 'i', 'o', 'u'}
    
    # Iterate through the characters in the string
    for char in input_string:
        if char in vowels:
            count += 1
    
    return count

# Input string
input_str = input("Enter a string: ")

# Call the function to count vowels
vowel_count = count_vowels(input_str)

# Print the result
print("Number of vowels:", vowel_count)

Enter a string:  India is my country

Number of vowels: 6

In [ ]:
6. Count the number of consonants in a string.

In [7]:
def count_consonants(input_string):
    # Convert the input string to lowercase to make it case-insensitive
    input_string = input_string.lower()
    
    # Initialize a variable to keep track of the count
    count = 0
    
    # Define the set of vowels
    vowels = {'a', 'e', 'i', 'o', 'u'}
    
    # Iterate through the characters in the string
    for char in input_string:
        if char.isalpha() and char not in vowels:
            count += 1
    
    return count

# Input string
input_str = input("Enter a string: ")

# Call the function to count consonants
consonant_count = count_consonants(input_str)

# Print the result
print("Number of consonants:", consonant_count)

Enter a string:  the world is not enough

Number of consonants: 12

In [ ]:
7. Remove all whitespaces from a string.

In [1]:
input_str = "Hello,  World!  "
# Replace all whitespaces with an empty string
no_whitespace_str = input_str.replace(" ", "")
print(no_whitespace_str)

Hello,World!

In [ ]:
8. Find the length of a string without using the len() function.

In [2]:
def find_string_length(input_string):
    count = 0
    for char in input_string:
        count += 1
    return count

# Input string
input_str = input("Enter a string: ")

# Call the function to find the string length
length = find_string_length(input_str)

# Print the length of the string
print("Length of the string:", length)

Enter a string:  fjksahdfashjkh

Length of the string: 14

In [ ]:
9. Check if a string contains a specific word.

In [3]:
input_str = "This is a sample string."
word_to_find = "sample"

if word_to_find in input_str:
    print(f"The word '{word_to_find}' is present in the string.")
else:
    print(f"The word '{word_to_find}' is not present in the string.")

The word 'sample' is present in the string.

In [ ]:
10. Replace a word in a string with another word.

In [4]:
input_str = "Hello, World! This is a sample sentence."
word_to_replace = "sample"
replacement_word = "new"

# Replace the word in the string
new_string = input_str.replace(word_to_replace, replacement_word)

print("Original string:", input_str)
print("Modified string:", new_string)

Original string: Hello, World! This is a sample sentence.
Modified string: Hello, World! This is a new sentence.

In [ ]:
11. Count the occurrences of a word in a string.

In [5]:
input_str = "This is a sample sentence. This is another sample sentence."
word_to_count = "sample"

count = input_str.count(word_to_count)

print(f"The word '{word_to_count}' appears {count} times in the string.")

The word 'sample' appears 2 times in the string.

In [ ]:
12. Find the first occurrence of a word in a string.

In [6]:
input_str = "This is a sample sentence. This is another sample sentence."
word_to_find = "sample"

index = input_str.find(word_to_find)

if index != -1:
    print(f"The word '{word_to_find}' first appears at index {index}.")
else:
    print(f"The word '{word_to_find}' is not found in the string.")

The word 'sample' first appears at index 10.

In [ ]:
13. Find the last occurrence of a word in a string.

In [7]:
input_str = "This is a sample sentence. This is another sample sentence."
word_to_find = "sample"

index = input_str.rfind(word_to_find)

if index != -1:
    print(f"The word '{word_to_find}' last appears at index {index}.")
else:
    print(f"The word '{word_to_find}' is not found in the string.")

The word 'sample' last appears at index 43.

In [ ]:
14. Split a string into a list of words.

In [8]:
input_str = "This is a sample sentence. This is another sample sentence."

# Split the string into a list of words
word_list = input_str.split()

# Print the list of words
print(word_list)

['This', 'is', 'a', 'sample', 'sentence.', 'This', 'is', 'another', 'sample', 'sentence.']

In [ ]:
15. Join a list of words into a string.

In [9]:
word_list = ['This', 'is', 'a', 'list', 'of', 'words.']

# Join the list of words into a string with spaces as the delimiter
result_str = ' '.join(word_list)

# Print the resulting string
print(result_str)

This is a list of words.

In [ ]:
16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [1]:
original_string = "This is a sample string with spaces"
underscore_string = original_string.replace(" ", "_")
print(underscore_string)

This_is_a_sample_string_with_spaces

In [ ]:
17. Check if a string starts with a specific word or phrase.

In [2]:
# Input string
input_string = "Hello, world! This is a sample string."

# Word or phrase to check for
specific_word = "Hello"

# Check if the string starts with the specific word or phrase
if input_string.startswith(specific_word):
    print(f"The string starts with '{specific_word}'.")
else:
    print(f"The string does not start with '{specific_word}'.")

The string starts with 'Hello'.

In [ ]:
18. Check if a string ends with a specific word or phrase.

In [3]:
# Input string
input_string = "This is a sample string. It ends with 'string.'"

# Word or phrase to check for
specific_word = "string.'"

# Check if the string ends with the specific word or phrase
if input_string.endswith(specific_word):
    print(f"The string ends with '{specific_word}'.")
else:
    print(f"The string does not end with '{specific_word}'.")

The string ends with 'string.''.

In [ ]:
19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [4]:
# Input string
input_string = "hello world"

# Convert the string to title case
title_case_string = input_string.title()

# Print the result
print(title_case_string)

Hello World

In [ ]:
20. Find the longest word in a string.

In [5]:
# Input string
input_string = "This is a sample sentence with some longer words."

# Split the string into words
words = input_string.split()

# Initialize a variable to store the longest word
longest_word = ""

# Iterate through the words to find the longest one
for word in words:
    if len(word) > len(longest_word):
        longest_word = word

# Print the longest word
print("The longest word in the string is:", longest_word)

The longest word in the string is: sentence

In [ ]:
21. Find the shortest word in a string.

In [6]:
# Input string
input_string = "This is a sample sentence with some shorter words."

# Split the string into words
words = input_string.split()

# Initialize a variable to store the shortest word
shortest_word = None

# Iterate through the words to find the shortest one
for word in words:
    if shortest_word is None or len(word) < len(shortest_word):
        shortest_word = word

# Print the shortest word
if shortest_word:
    print("The shortest word in the string is:", shortest_word)
else:
    print("No words found in the string.")

The shortest word in the string is: a

In [ ]:
22. Reverse the order of words in a string.

In [7]:
# Input string
input_string = "This is a sample sentence."

# Split the string into words
words = input_string.split()

# Reverse the order of words
reversed_string = ' '.join(reversed(words))

# Print the reversed string
print(reversed_string)

sentence. sample a is This

In [ ]:
23. Check if a string is alphanumeric.

In [8]:
# Input string
input_string = "abc123"

# Check if the string is alphanumeric
if input_string.isalnum():
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

In [ ]:
24. Extract all digits from a string.

In [9]:
import re

# Input string
input_string = "There are 3 numbers in this string: 12345"

# Use regular expressions to find all digits in the string
digits = re.findall(r'\d', input_string)

# Join the digits to form a single string
digit_string = ''.join(digits)

# Print the extracted digits
print("Extracted digits:", digit_string)

Extracted digits: 312345

In [ ]:
25. Extract all alphabets from a string.

In [10]:
import re

# Input string
input_string = "This is a sample string with 123 numbers."

# Use regular expressions to find all alphabetic characters in the string
alphabets = re.findall(r'[a-zA-Z]', input_string)

# Join the alphabets to form a single string
alphabet_string = ''.join(alphabets)

# Print the extracted alphabets
print("Extracted alphabets:", alphabet_string)

Extracted alphabets: Thisisasamplestringwithnumbers

In [ ]:
26. Count the number of uppercase letters in a string.

In [11]:
# Input string
input_string = "This Is A Sample String With Uppercase Letters."

# Initialize a variable to count the uppercase letters
uppercase_count = 0

# Iterate through the characters in the string
for char in input_string:
    if char.isupper():
        uppercase_count += 1

# Print the count of uppercase letters
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 8

In [ ]:
27. Count the number of lowercase letters in a string.

In [12]:
# Input string
input_string = "This Is A Sample String With Lowercase Letters."

# Initialize a variable to count the lowercase letters
lowercase_count = 0

# Iterate through the characters in the string
for char in input_string:
    if char.islower():
        lowercase_count += 1

# Print the count of lowercase letters
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 31

In [ ]:
28. Swap the case of each character in a string.

In [13]:
# Input string
input_string = "ThIs Is A SaMpLe StRiNg WiTh SwApPeD CaSe."

# Swap the case of each character in the string
swapped_string = input_string.swapcase()

# Print the string with swapped case
print("String with swapped case:", swapped_string)

String with swapped case: tHiS iS a sAmPlE sTrInG wItH sWaPpEd cAsE.

In [ ]:
29. Remove a specific word from a string.

In [14]:
# Input string
input_string = "This is a sample sentence. Remove 'sample' from this sentence."

# Word to remove
word_to_remove = "sample"

# Remove the specific word from the string
modified_string = input_string.replace(word_to_remove, '')

# Print the modified string
print("Modified string:", modified_string)

Modified string: This is a  sentence. Remove '' from this sentence.

In [ ]:
30. Check if a string is a valid email address.

In [15]:
import re

# Input string (email address)
email = "example@email.com"

# Define a regular expression pattern for a valid email address
pattern = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"

# Use the re.match() function to check if the email matches the pattern
if re.match(pattern, email):
    print("Valid email address.")
else:
    print("Invalid email address.")

Valid email address.

In [ ]:
31. Extract the username from an email address string.

In [16]:
# Input email address
email = "example@email.com"

# Extract the username by splitting the email at the "@" symbol
username = email.split('@')[0]

# Print the extracted username
print("Extracted username:", username)

Extracted username: example

In [ ]:
32. Extract the domain name from an email address string.

In [17]:
# Input email address
email = "example@email.com"

# Extract the domain name by splitting the email at the "@" symbol
domain_name = email.split('@')[1]

# Print the extracted domain name
print("Extracted domain name:", domain_name)

Extracted domain name: email.com

In [ ]:
33. Replace multiple spaces in a string with a single space.

In [18]:
import re

# Input string with multiple spaces
input_string = "This    is    a    string    with    multiple    spaces."

# Use regular expressions to replace multiple spaces with a single space
modified_string = re.sub(r'\s+', ' ', input_string)

# Print the modified string
print("Modified string:", modified_string)

Modified string: This is a string with multiple spaces.

In [ ]:
34. Check if a string is a valid URL.

In [19]:
from urllib.parse import urlparse

# Input string (URL)
url = "https://www.example.com/path/to/page"

# Use urlparse to check if the URL is valid
try:
    result = urlparse(url)
    if all([result.scheme, result.netloc]):
        print("Valid URL.")
    else:
        print("Invalid URL.")
except ValueError:
    print("Invalid URL.")

Valid URL.

In [ ]:
35. Extract the protocol (http or https) from a URL string.

In [21]:
from urllib.parse import urlparse

# Input URL
url = "https://www.example.com/path/to/page"

# Use urlparse to extract the protocol
result = urlparse(url)
protocol = result.scheme

# Print the extracted protocol
print("Protocol:", protocol)

Protocol: https

In [ ]:
36. Find the frequency of each character in a string.

In [22]:
# Input string
input_string = "Hello, World!"

# Create an empty dictionary to store character frequencies
char_frequency = {}

# Iterate through the characters in the string
for char in input_string:
    if char.isalnum():  # To ignore non-alphanumeric characters
        if char in char_frequency:
            char_frequency[char] += 1
        else:
            char_frequency[char] = 1

# Print the character frequencies
for char, frequency in char_frequency.items():
    print(f"'{char}': {frequency} times")

'H': 1 times
'e': 1 times
'l': 3 times
'o': 2 times
'W': 1 times
'r': 1 times
'd': 1 times

In [ ]:
37. Remove all punctuation from a string.

In [23]:
import string

# Input string with punctuation
input_string = "Hello, World! This is a sample string."

# Create a translation table to remove punctuation
translator = str.maketrans('', '', string.punctuation)

# Remove punctuation from the string
cleaned_string = input_string.translate(translator)

# Print the cleaned string
print("Cleaned string:", cleaned_string)

Cleaned string: Hello World This is a sample string

In [ ]:
38. Check if a string contains only digits.

In [24]:
# Input string
input_string = "12345"

# Check if the string contains only digits
if input_string.isdigit():
    print("The string contains only digits.")
else:
    print("The string does not contain only digits.")

The string contains only digits.

In [ ]:
39. Check if a string contains only alphabets.

In [25]:
# Input string
input_string = "Hello"

# Check if the string contains only alphabetic characters
if input_string.isalpha():
    print("The string contains only alphabetic characters.")
else:
    print("The string does not contain only alphabetic characters.")

The string contains only alphabetic characters.

In [ ]:
40. Convert a string to a list of characters.

In [26]:
# Input string
input_string = "Hello, World!"

# Convert the string to a list of characters
character_list = [char for char in input_string]

# Print the list of characters
print("List of characters:", character_list)

List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [ ]:
41. Check if two strings are anagrams.

In [27]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if the sorted characters of both strings are the same
    return sorted(str1) == sorted(str2)

# Example usage:
string1 = "Listen"
string2 = "Silent"

if are_anagrams(string1, string2):
    print("The two strings are anagrams.")
else:
    print("The two strings are not anagrams.")

The two strings are anagrams.

In [ ]:
42. Encode a string using a Caesar cipher.

In [28]:
def caesar_cipher(text, shift):
    encoded_text = ""
    
    for char in text:
        if char.isalpha():  # Check if the character is a letter
            shift_amount = 65 if char.isupper() else 97  # ASCII code for 'A' or 'a'
            encoded_char = chr((ord(char) - shift_amount + shift) % 26 + shift_amount)
            encoded_text += encoded_char
        else:
            encoded_text += char  # Non-alphabet characters remain unchanged

    return encoded_text

# Example usage:
text = "Hello, World!"
shift = 3

encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: Khoor, Zruog!

In [ ]:
43. Decode a Caesar cipher encoded string.

In [29]:
def caesar_decipher(encoded_text, shift):
    decoded_text = ""
    
    for char in encoded_text:
        if char.isalpha():  # Check if the character is a letter
            shift_amount = 65 if char.isupper() else 97  # ASCII code for 'A' or 'a'
            decoded_char = chr((ord(char) - shift_amount - shift) % 26 + shift_amount)
            decoded_text += decoded_char
        else:
            decoded_text += char  # Non-alphabet characters remain unchanged

    return decoded_text

# Example usage:
encoded_text = "Khoor, Zruog!"
shift = 3

decoded_text = caesar_decipher(encoded_text, shift)
print("Decoded text:", decoded_text)

Decoded text: Hello, World!

In [ ]:
44. Find the most frequent word in a string.

In [30]:
from collections import Counter
import re

def most_frequent_word(input_string):
    # Convert the string to lowercase and split it into words
    words = re.findall(r'\w+', input_string.lower())

    # Use Counter to count the frequency of each word
    word_count = Counter(words)

    # Find the most common word
    most_common_word, frequency = word_count.most_common(1)[0]

    return most_common_word, frequency

# Example usage:
text = "This is a sample string. This string contains some sample words. Is it the most common word?"

most_common, frequency = most_frequent_word(text)
print(f"The most common word is '{most_common}' with a frequency of {frequency} times.")

The most common word is 'this' with a frequency of 2 times.

In [ ]:
45. Find all unique words in a string.

In [31]:
import re

def unique_words(input_string):
    # Use regular expressions to extract words and convert them to lowercase
    words = re.findall(r'\w+', input_string.lower())

    # Create a set to store unique words
    unique_word_set = set(words)

    return unique_word_set

# Example usage:
text = "This is a sample string. This string contains some sample words."

unique_words_set = unique_words(text)
print("Unique words:", unique_words_set)

Unique words: {'this', 'is', 'words', 'some', 'sample', 'contains', 'string', 'a'}

In [ ]:
46. Count the number of syllables in a string.

In [32]:
def count_syllables(word):
    # Convert the word to lowercase
    word = word.lower()

    # List of common syllable prefixes and suffixes
    prefixes = ['auto', 'micro', 'photo', 'tele', 'un', 'pre']
    suffixes = ['ology', 'ologist', 'ious', 'tion', 'sion']

    # Initialize the syllable count
    syllable_count = 0

    # Check for prefixes and suffixes
    for prefix in prefixes:
        if word.startswith(prefix):
            word = word[len(prefix):]
    
    for suffix in suffixes:
        if word.endswith(suffix):
            word = word[:-len(suffix)]
    
    # Count the number of vowel sequences
    is_vowel = False
    for char in word:
        if char in 'aeiouy':
            if not is_vowel:
                syllable_count += 1
            is_vowel = True
        else:
            is_vowel = False
    
    # Adjust for words ending in 'e'
    if word.endswith('e') and not word.endswith('le'):
        syllable_count -= 1

    # Ensure at least one syllable for short words
    if syllable_count == 0:
        syllable_count = 1

    return syllable_count

# Example usage:
word = "elephant"
syllables = count_syllables(word)
print(f"The word '{word}' has {syllables} syllables.")

The word 'elephant' has 3 syllables.

In [ ]:
47. Check if a string contains any special characters.

In [33]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = r'[!@#$%^&*()_+{}\[\]:;"<>,.?/\|\\`~]'

    # Use re.search() to find a match in the input string
    match = re.search(pattern, input_string)

    # If a match is found, return True (special characters found); otherwise, return False
    return match is not None

# Example usage:
text = "This is a string without special characters."
if contains_special_characters(text):
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string contains special characters.

In [ ]:
48. Remove the nth word from a string.

In [34]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if the specified index n is valid
    if 0 <= n < len(words):
        # Remove the nth word
        del words[n]

        # Join the words back together
        result_string = " ".join(words)

        return result_string
    else:
        return "Invalid index"

# Example usage:
text = "This is a sample sentence. Remove the nth word."
n = 4  # Specify the word index to be removed (0-based)

result = remove_nth_word(text, n)
print("Result:", result)

Result: This is a sample Remove the nth word.

In [ ]:
49. Insert a word at the nth position in a string.

In [35]:
def insert_word_at_nth_position(input_string, word_to_insert, n):
    # Split the input string into words
    words = input_string.split()

    # Check if the specified index n is valid
    if 0 <= n <= len(words):
        # Insert the word at the nth position
        words.insert(n, word_to_insert)

        # Join the words back together
        result_string = " ".join(words)

        return result_string
    else:
        return "Invalid index"

# Example usage:
text = "This is a sample sentence. Insert at nth position."
word_to_insert = "new"
n = 4  # Specify the position to insert the word (0-based)

result = insert_word_at_nth_position(text, word_to_insert, n)
print("Result:", result)

Result: This is a sample new sentence. Insert at nth position.

In [ ]:
50. Convert a CSV string to a list of lists.

In [36]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Create a CSV reader for the input CSV string
    csv_reader = csv.reader(StringIO(csv_string))

    # Convert the CSV data into a list of lists
    csv_data = [row for row in csv_reader]

    return csv_data

# Example usage:
csv_string = "Name,Age,Location\nJohn,30,New York\nAlice,25,Los Angeles\nBob,35,Chicago"

csv_list = csv_string_to_list(csv_string)
for row in csv_list:
    print(row)

['Name', 'Age', 'Location']
['John', '30', 'New York']
['Alice', '25', 'Los Angeles']
['Bob', '35', 'Chicago']

In [ ]:
List based practice problem :

In [ ]:
1. Create a list with integers from 1 to 10.

In [3]:
list1 = [i for i in range(1, 11)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
2. Find the length of a list without using the len() function.

In [4]:
def find_length_of_list(list1):
  count = 0
  for i in list1:
    count += 1
  return count

list1 = [i for i in range(1, 11)]

length = find_length_of_list(list1)

print(length)

10

In [ ]:
3. Append an element to the end of a list.

In [5]:
my_list = [1, 2, 3, 4, 5]  # Your existing list

# Append an element to the end of the list
my_list.append(6)

print(my_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
4. Insert an element at a specific index in a list.

In [6]:
my_list = [1, 2, 3, 4, 5]  # Your existing list

# Insert an element (e.g., 6) at a specific index (e.g., index 2)
my_list.insert(2, 6)

print(my_list)  # Output: [1, 2, 6, 3, 4, 5]

[1, 2, 6, 3, 4, 5]

In [ ]:
5. Remove an element from a list by its value.

In [7]:
my_list = [1, 2, 3, 4, 5]  # Your existing list

# Remove an element by its value (e.g., remove the element 3)
my_list.remove(3)

print(my_list)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

In [ ]:
6. Remove an element from a list by its index.

In [8]:
my_list = [1, 2, 3, 4, 5]

# Remove the last element
my_list.pop()

print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [ ]:
7. Check if an element exists in a list.

In [9]:
my_list = [1, 2, 3, 4, 5]

# Check if an element exists in the list
element_to_check = 3
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

In [ ]:
8. Find the index of the first occurrence of an element in a list.

In [10]:
my_list = [1, 2, 3, 4, 5, 3]

# Find the index of the first occurrence of an element (e.g., element 3)
element_to_find = 3
index = my_list.index(element_to_find)

print(f"The index of {element_to_find} is: {index}")

The index of 3 is: 2

In [ ]:
9. Count the occurrences of an element in a list.

In [11]:
my_list = [1, 2, 3, 4, 5, 3, 3]

# Count the occurrences of an element (e.g., count the number of times 3 appears)
element_to_count = 3
count = my_list.count(element_to_count)

print(f"{element_to_count} appears {count} times in the list.")

3 appears 3 times in the list.

In [ ]:
10. Reverse the order of elements in a list.

In [12]:
my_list = [1, 2, 3, 4, 5]

# Reverse the order of elements in the list in-place
my_list.reverse()

print(my_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [ ]:
11. Sort a list in ascending order.

In [13]:
my_list = [5, 1, 4, 3, 2]

# Sort the list in ascending order in-place
my_list.sort()

print(my_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
12. Sort a list in descending order.

In [14]:
my_list = [5, 1, 4, 3, 2]

# Create a new sorted list in descending order
sorted_list = sorted(my_list, reverse=True)

print(sorted_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [ ]:
13. Create a list of even numbers from 1 to 20.

In [15]:
even_numbers = [x for x in range(2, 21, 2)]

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
14. Create a list of odd numbers from 1 to 20.

In [16]:
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]

print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
15. Find the sum of all elements in a list.

In [17]:
my_list = [1, 2, 3, 4, 5]

# Find the sum of all elements in the list
total_sum = sum(my_list)

print(f"The sum of all elements in the list is: {total_sum}")

The sum of all elements in the list is: 15

In [ ]:
16. Find the maximum value in a list.

In [18]:
my_list = [12, 45, 7, 23, 56, 14]

# Find the maximum value in the list
max_value = max(my_list)

print(f"The maximum value in the list is: {max_value}")

The maximum value in the list is: 56

In [ ]:
17. Find the minimum value in a list.

In [19]:
my_list = [12, 45, 7, 23, 56, 14]

# Find the minimum value in the list
min_value = min(my_list)

print(f"The minimum value in the list is: {min_value}")

The minimum value in the list is: 7

In [ ]:
18. Create a list of squares of numbers from 1 to 10.

In [20]:
squares = [x ** 2 for x in range(1, 11)]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
19. Create a list of random numbers.

In [21]:
import random

# Create a list of 10 random integers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(10)]

print(random_numbers)

[9, 40, 4, 82, 69, 24, 54, 49, 73, 52]

In [ ]:
20. Remove duplicates from a list.

In [22]:
my_list = [1, 2, 2, 3, 4, 4, 5]

# Remove duplicates and preserve the order
new_list = []
for item in my_list:
    if item not in new_list:
        new_list.append(item)

print(new_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
21. Find the common elements between two lists.

In [23]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find common elements using list comprehension
common_elements = [x for x in list1 if x in list2]

print(common_elements)  # Output: [3, 4, 5]

[3, 4, 5]

In [ ]:
22. Find the difference between two lists.

In [24]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find elements unique to each list using list comprehension
difference = [x for x in list1 if x not in list2] + [y for y in list2 if y not in list1]

print(difference)  # Output: [1, 2, 6, 7]

[1, 2, 6, 7]

In [ ]:
23. Merge two lists.

In [25]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the two lists using the + operator
merged_list = list1 + list2

print(merged_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
24. Multiply all elements in a list by 2.

In [26]:
my_list = [1, 2, 3, 4, 5]

# Multiply all elements by 2 using list comprehension
doubled_list = [x * 2 for x in my_list]

print(doubled_list)

[2, 4, 6, 8, 10]

In [ ]:
25. Filter out all even numbers from a list.

In [27]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Filter out even numbers using list comprehension
filtered_list = [x for x in my_list if x % 2 != 0]

print(filtered_list)

[1, 3, 5, 7, 9]

In [ ]:
26. Convert a list of strings to a list of integers.

In [28]:
string_list = ["1", "2", "3", "4", "5"]

# Convert the list of strings to a list of integers using list comprehension
integer_list = [int(x) for x in string_list]

print(integer_list)

[1, 2, 3, 4, 5]

In [ ]:
27. Convert a list of integers to a list of strings.

In [29]:
integer_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings using map() and str()
string_list = list(map(str, integer_list))

print(string_list)

['1', '2', '3', '4', '5']

In [ ]:
28. Flatten a nested list.

In [30]:
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))
        else:
            flat_list.append(item)
    return flat_list

nested_list = [1, [2, [3, 4], 5], 6, [7, 8]]

flattened_list = flatten_list(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
29. Create a list of the first 10 Fibonacci numbers.

In [31]:
def fibonacci(n):
  if n < 0:
    raise ValueError("n must be a non-negative integer")
  elif n == 0 or n == 1:
    return n
  else:
    return fibonacci(n - 1) + fibonacci(n - 2)

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = []
for i in range(10):
  fibonacci_numbers.append(fibonacci(i))

print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
30. Check if a list is sorted.

In [32]:
my_list = [1, 2, 3, 4, 5]

# Check if the list is sorted
is_sorted = my_list == sorted(my_list)

if is_sorted:
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

In [ ]:
31. Rotate a list to the left by n positions.

In [33]:
def rotate_left(lst, n):
    if not lst:
        return lst

    n = n % len(lst)  # Ensure n is within the length of the list
    return lst[n:] + lst[:n]

my_list = [1, 2, 3, 4, 5]

# Rotate the list to the left by 2 positions
rotated_list = rotate_left(my_list, 2)

print(rotated_list)  # Output: [3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

In [ ]:
32. Rotate a list to the right by n positions.

In [34]:
def rotate_right(lst, n):
    if not lst:
        return lst

    n = n % len(lst)  # Ensure n is within the length of the list
    return lst[-n:] + lst[:-n]

my_list = [1, 2, 3, 4, 5]

# Rotate the list to the right by 2 positions
rotated_list = rotate_right(my_list, 2)

print(rotated_list)  # Output: [4, 5, 1, 2, 3]

[4, 5, 1, 2, 3]

In [ ]:
33. Create a list of prime numbers up to 50.

In [35]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [x for x in range(2, 51) if is_prime(x)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
34. Split a list into chunks of size n.

In [36]:
def split_list_into_chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Split the list into chunks of size 3
chunk_size = 3
chunked_list = list(split_list_into_chunks(my_list, chunk_size))

print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [ ]:
35. Find the second largest number in a list.

In [37]:
my_list = [12, 45, 7, 23, 56, 14]

# Find the second largest number in the list
sorted_list = sorted(my_list)
second_largest = sorted_list[-2]

print(f"The second largest number is: {second_largest}")

The second largest number is: 45

In [ ]:
36. Replace every element in a list with its square.

In [38]:
my_list = [1, 2, 3, 4, 5]

# Replace each element with its square using a list comprehension
squared_list = [x**2 for x in my_list]

print(squared_list)

[1, 4, 9, 16, 25]

In [ ]:
37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [39]:
my_list = ['apple', 'banana', 'cherry', 'date']

# Convert the list to a dictionary with elements as keys and indices as values
my_dict = {value: index for index, value in enumerate(my_list)}

print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [ ]:
38. Shuffle the elements of a list randomly.

In [40]:
import random

my_list = [1, 2, 3, 4, 5]

# Shuffle the list randomly
random.shuffle(my_list)

print(my_list)

[1, 4, 2, 3, 5]

In [ ]:
39. Create a list of the first 10 factorial numbers.

In [41]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(n) for n in range(10)]

print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
40. Check if two lists have at least one element in common.

In [42]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the lists have at least one common element
have_common_element = any(item in list1 for item in list2)

if have_common_element:
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [ ]:
41. Remove all elements from a list.

In [43]:
my_list = [1, 2, 3, 4, 5]

# Remove all elements by assigning an empty list
my_list = []

print(my_list)  # Output: []

[]

In [ ]:
42. Replace negative numbers in a list with 0.

In [1]:
my_list = [1, -2, 3, -4, 5, -6]

# Replace negative numbers with 0 using a list comprehension
new_list = [x if x >= 0 else 0 for x in my_list]

print(new_list)

[1, 0, 3, 0, 5, 0]

In [ ]:
43. Convert a string into a list of words.

In [2]:
my_string = "This is a sample string."

# Convert the string into a list of words
word_list = my_string.split()

print(word_list)

['This', 'is', 'a', 'sample', 'string.']

In [ ]:
44. Convert a list of words into a string.

In [3]:
word_list = ["This", "is", "a", "list", "of", "words"]

# Convert the list of words into a string
my_string = " ".join(word_list)

print(my_string)

This is a list of words

In [ ]:
45. Create a list of the first n powers of 2.

In [4]:
n = 5  # Change this to the desired number of powers of 2
powers_of_2 = [2**i for i in range(n)]

print(powers_of_2)

[1, 2, 4, 8, 16]

In [ ]:
46. Find the longest string in a list of strings.

In [5]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = max(string_list, key=len)

print(longest_string)

elderberry

In [ ]:
47. Find the shortest string in a list of strings.

In [6]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = min(string_list, key=len)

print(shortest_string)

date

In [ ]:
48. Create a list of the first n triangular numbers.

In [7]:
n = 5  # Change this to the desired number of triangular numbers
triangular_numbers = []

for i in range(1, n + 1):
    # Calculate the i-th triangular number
    triangular_number = (i * (i + 1)) // 2
    triangular_numbers.append(triangular_number)

print(triangular_numbers)

[1, 3, 6, 10, 15]

In [ ]:
49. Check if a list contains another list as a subsequence.

In [8]:
def is_subsequence(sub, main):
    i, j = 0, 0

    while i < len(main) and j < len(sub):
        if main[i] == sub[j]:
            j += 1
        i += 1

    return j == len(sub)

# Example usage
main_list = [1, 2, 3, 4, 5, 6, 7, 8]
sub_list = [3, 5, 7]

if is_subsequence(sub_list, main_list):
    print("The sub_list is a subsequence of main_list.")
else:
    print("The sub_list is not a subsequence of main_list.")

The sub_list is a subsequence of main_list.

In [ ]:
50. Swap two elements in a list by their indices.

In [9]:
my_list = [1, 2, 3, 4, 5]

# Define the indices of the elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

print(my_list)

[1, 4, 3, 2, 5]

In [ ]:
Tuple based practice problem :

In [ ]:
1. Create a tuple with integers from 1 to 5

In [1]:
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
2. Access the third element of a tuple.

In [2]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

3

In [ ]:
3. Find the length of a tuple without using the len() function.

In [3]:
my_tuple = (1, 2, 3, 4, 5)
length = 0

for _ in my_tuple:
    length += 1

print("The length of the tuple is:", length)

The length of the tuple is: 5

In [ ]:
4. Count the occurrences of an element in a tuple.

In [4]:
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element_to_count = 2
count = 0

for item in my_tuple:
    if item == element_to_count:
        count += 1

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 2 appears 3 times in the tuple.

In [ ]:
5. Find the index of the first occurrence of an element in a tuple.

In [5]:
my_tuple = (1, 2, 3, 4, 5, 2, 6)
element_to_find = 2

# Find the index of the first occurrence of the element
index = my_tuple.index(element_to_find)

print(f"The first occurrence of {element_to_find} is at index {index}.")

The first occurrence of 2 is at index 1.

In [ ]:
6. Check if an element exists in a tuple.

In [6]:
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3

if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

3 exists in the tuple.

In [ ]:
7. Convert a tuple to a list.

In [7]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

In [ ]:
8. Convert a list to a tuple.

In [8]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

In [ ]:
9. Unpack the elements of a tuple into variables.

In [9]:
my_tuple = (1, 2, 3, 4, 5)

# Unpack the elements into variables
var1, var2, var3, var4, var5 = my_tuple

print("Variable 1:", var1)
print("Variable 2:", var2)
print("Variable 3:", var3)
print("Variable 4:", var4)
print("Variable 5:", var5)

Variable 1: 1
Variable 2: 2
Variable 3: 3
Variable 4: 4
Variable 5: 5

In [ ]:
10. Create a tuple of even numbers from 1 to 10.

In [10]:
even_numbers = tuple(x for x in range(2, 11, 2))

In [11]:
even_numbers

(2, 4, 6, 8, 10)

In [ ]:
11. Create a tuple of odd numbers from 1 to 10.

In [13]:
odd_numbers = tuple(x for x in range(1, 11, 2))
print(odd_numbers)

(1, 3, 5, 7, 9)

In [ ]:
12. Concatenate two tuples.

In [14]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print("Concatenated Tuple:", concatenated_tuple)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
13. Repeat a tuple three times.

In [15]:
original_tuple = (1, 2, 3)

repeated_tuple = original_tuple * 3

print("Repeated Tuple:", repeated_tuple)

Repeated Tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
14. Check if a tuple is empty.

In [16]:
my_tuple = ()

if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [ ]:
15. Create a nested tuple.

In [17]:
nested_tuple = ((1, 2), (3, 4, 5), (6,))

print("Nested Tuple:", nested_tuple)

Nested Tuple: ((1, 2), (3, 4, 5), (6,))

In [ ]:
16. Access the first element of a nested tuple.

In [18]:
nested_tuple = ((1, 2), (3, 4, 5), (6,))

first_element = nested_tuple[0][0]

print("First Element:", first_element)

First Element: 1

In [ ]:
17. Create a tuple with a single element.

In [20]:
single_element_tuple = (12,)
print("Single element tuple:", single_element_tuple)

Single element tuple: (12,)

In [ ]:
18. Compare two tuples.

In [21]:
tuple1 = (1, 2, 3)
tuple2 = (4, 2, 3)

# Compare for equality
if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

# Compare for inequality
if tuple1 != tuple2:
    print("Tuples are not equal")
else:
    print("Tuples are equal")

# Compare element-wise for greater than
if tuple1 > tuple2:
    print("tuple1 is greater than tuple2")
else:
    print("tuple1 is not greater than tuple2")

# Compare element-wise for less than
if tuple1 < tuple2:
    print("tuple1 is less than tuple2")
else:
    print("tuple1 is not less than tuple2")

Tuples are not equal
Tuples are not equal
tuple1 is not greater than tuple2
tuple1 is less than tuple2

In [ ]:
19. Delete a tuple.

In [22]:
my_tuple = (1, 2, 3, 4, 5)

# Deleting the entire tuple
del my_tuple

# Trying to access the tuple after deletion will result in an error
# print(my_tuple)  # This line would raise an error

In [ ]:
20. Slice a tuple.

In [23]:
my_tuple = (1, 2, 3, 4, 5)

# Slicing the tuple to get a subset
subset = my_tuple[1:4]

print("Subset:", subset)

Subset: (2, 3, 4)

In [ ]:
21. Find the maximum value in a tuple.

In [24]:
my_tuple = (5, 8, 2, 10, 3)

max_value = max(my_tuple)

print("Maximum value:", max_value)

Maximum value: 10

In [ ]:
22. Find the minimum value in a tuple.

In [25]:
my_tuple = (5, 8, 2, 10, 3)

min_value = min(my_tuple)

print("Minimum value:", min_value)

Minimum value: 2

In [ ]:
23. Convert a string to a tuple of characters.

In [29]:
my_string = "Hello, World!"
char_tuple = tuple(char for char in my_string)
print(char_tuple)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [ ]:
24. Convert a tuple of characters to a string.

In [31]:
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')
resulting_string = ''.join(char_tuple)
print(resulting_string)

Hello, World!

In [ ]:
25. Create a tuple from multiple data types.

In [32]:
mixed_tuple = (1, "apple", 3.14, [4, 5])

print("Mixed Tuple:", mixed_tuple)

Mixed Tuple: (1, 'apple', 3.14, [4, 5])

In [ ]:
26. Check if two tuples are identical.

In [33]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are identical.

In [ ]:
27. Sort the elements of a tuple.

In [35]:
my_tuple = (4, 1, 3, 2, 5)

# Convert the tuple to a list, sort the list, and then convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

print("Sorted Tuple:", sorted_tuple)

Sorted Tuple: (1, 2, 3, 4, 5)

In [ ]:
28. Convert a tuple of integers to a tuple of strings.

In [36]:
int_tuple = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
str_tuple = tuple(str(element) for element in int_tuple)

print("Tuple of Integers:", int_tuple)
print("Tuple of Strings:", str_tuple)

Tuple of Integers: (1, 2, 3, 4, 5)
Tuple of Strings: ('1', '2', '3', '4', '5')

In [ ]:
29. Convert a tuple of strings to a tuple of integers.

In [37]:
str_tuple = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
int_tuple = tuple(int(element) for element in str_tuple)

print("Tuple of Strings:", str_tuple)
print("Tuple of Integers:", int_tuple)

Tuple of Strings: ('1', '2', '3', '4', '5')
Tuple of Integers: (1, 2, 3, 4, 5)

In [ ]:
30. Merge two tuples.

In [38]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merged_tuple = tuple1 + tuple2

print("Merged Tuple:", merged_tuple)

Merged Tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
31. Flatten a nested tuple.

In [39]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = (1, (2, 3), (4, (5, 6)))
flat_tuple = tuple(flatten_tuple(nested_tuple))

print("Nested Tuple:", nested_tuple)
print("Flattened Tuple:", flat_tuple)

Nested Tuple: (1, (2, 3), (4, (5, 6)))
Flattened Tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
32. Create a tuple of the first 5 prime numbers.

In [40]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [ ]:
33. Check if a tuple is a palindrome.

In [41]:
def is_palindrome_tuple(my_tuple):
    return my_tuple == my_tuple[::-1]

# Test
tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)

print("Is tuple1 a palindrome?", is_palindrome_tuple(tuple1))
print("Is tuple2 a palindrome?", is_palindrome_tuple(tuple2))

Is tuple1 a palindrome? True
Is tuple2 a palindrome? False

In [ ]:
34. Create a tuple of squares of numbers from 1 to 5

In [43]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

In [ ]:
35. Filter out all even numbers from a tuple.

In [46]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)
print(filtered_tuple)

(1, 3, 5, 7, 9)

In [ ]:
36. Multiply all elements in a tuple by 2

In [48]:
original_tuple = (1, 2, 3, 4, 5)

doubled_tuple = tuple(x * 2 for x in original_tuple)
print (doubled_tuple)

(2, 4, 6, 8, 10)

In [ ]:
37. Create a tuple of random numbers.

In [49]:
import random

random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_tuple)

(71, 100, 22, 46, 9)

In [ ]:
38. Check if a tuple is sorted.

In [50]:
def is_sorted_tuple(my_tuple):
    for i in range(len(my_tuple) - 1):
        if my_tuple[i] > my_tuple[i + 1]:
            return False
    return True

# Test
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (5, 4, 3, 2, 1)

print("Is tuple1 sorted?", is_sorted_tuple(tuple1))
print("Is tuple2 sorted?", is_sorted_tuple(tuple2))

Is tuple1 sorted? True
Is tuple2 sorted? False

In [ ]:
39. Rotate a tuple to the left by n positions.

In [51]:
def rotate_left_tuple(my_tuple, n):
    n = n % len(my_tuple)  # Ensure n is within the range of tuple length
    rotated_tuple = my_tuple[n:] + my_tuple[:n]
    return rotated_tuple

# Test
original_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = rotate_left_tuple(original_tuple, n)

print("Original Tuple:", original_tuple)
print(f"Rotated Left by {n} positions:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Left by 2 positions: (3, 4, 5, 1, 2)

In [ ]:
40. Rotate a tuple to the right by n positions.

In [52]:
def rotate_right_tuple(my_tuple, n):
    n = n % len(my_tuple)  # Ensure n is within the range of tuple length
    rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
    return rotated_tuple

# Test
original_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = rotate_right_tuple(original_tuple, n)

print("Original Tuple:", original_tuple)
print(f"Rotated Right by {n} positions:", rotated_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Rotated Right by 2 positions: (4, 5, 1, 2, 3)

In [ ]:
41. Create a tuple of the first 5 Fibonacci numbers.

In [53]:
def generate_fibonacci(n):
    fibonacci_tuple = (0, 1)
    while len(fibonacci_tuple) < n:
        next_fib = fibonacci_tuple[-1] + fibonacci_tuple[-2]
        fibonacci_tuple = fibonacci_tuple + (next_fib,)
    return fibonacci_tuple

# Generate the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

print("First 5 Fibonacci Numbers:", first_5_fibonacci)

First 5 Fibonacci Numbers: (0, 1, 1, 2, 3)

In [ ]:
42. Create a tuple from user input.

In [54]:
# Collect user input and split it into elements
user_input = input("Enter a series of values separated by spaces: ")
user_values = user_input.split()

# Convert the list of values to a tuple
user_tuple = tuple(user_values)

print("User Input as Tuple:", user_tuple)

Enter a series of values separated by spaces:  s,a,n,d,i,p

User Input as Tuple: ('s,a,n,d,i,p',)

In [ ]:
43. Swap two elements in a tuple.

In [55]:
def swap_elements(tuple_in, index1, index2):
    # Convert the tuple to a list
    list_out = list(tuple_in)

    # Swap the elements
    list_out[index1], list_out[index2] = list_out[index2], list_out[index1]

    # Convert the list back to a tuple
    tuple_out = tuple(list_out)

    return tuple_out

# Original tuple
original_tuple = (1, 2, 3, 4, 5)

# Swap elements at index 1 and index 3
swapped_tuple = swap_elements(original_tuple, 1, 3)

print("Original Tuple:", original_tuple)
print("Swapped Tuple:", swapped_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Swapped Tuple: (1, 4, 3, 2, 5)

In [ ]:
44. Reverse the elements of a tuple.

In [56]:
def reverse_tuple(my_tuple):
    return my_tuple[::-1]

# Test
original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(original_tuple)

print("Original Tuple:", original_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [ ]:
45. Create a tuple of the first n powers of 2.

In [58]:
n = 5  # Number of powers of 2
powers_of_2 = tuple(2 ** i for i in range(n))
print(powers_of_2)

(1, 2, 4, 8, 16)

In [ ]:
46. Find the longest string in a tuple of strings.

In [59]:
string_tuple = ("apple", "banana", "cherry", "date", "fig")

longest_string = max(string_tuple, key=len)

print("Longest String:", longest_string)

Longest String: banana

In [ ]:
47. Find the shortest string in a tuple of strings.

In [60]:
string_tuple = ("apple", "banana", "cherry", "date", "fig")

shortest_string = min(string_tuple, key=len)

print("Shortest String:", shortest_string)

Shortest String: fig

In [ ]:
48. Create a tuple of the first n triangular numbers.

In [62]:
n = 5  # Number of triangular numbers
triangular_numbers = []

for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2
    triangular_numbers.append(triangular_number)

triangular_tuple = tuple(triangular_numbers)
print(triangular_tuple)

(1, 3, 6, 10, 15)

In [ ]:
49. Check if a tuple contains another tuple as a subsequence.

In [63]:
def contains_subsequence(main_tuple, sub_tuple):
    if len(sub_tuple) == 0:
        return True

    sub_len = len(sub_tuple)
    for i in range(len(main_tuple) - sub_len + 1):
        if main_tuple[i:i+sub_len] == sub_tuple:
            return True
    return False

# Test
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tuple = (3, 4, 5)

print("Does main_tuple contain sub_tuple?", contains_subsequence(main_tuple, sub_tuple))

Does main_tuple contain sub_tuple? True

In [ ]:
50. Create a tuple of alternating 1s and 0s of length n.

In [2]:
n = 10  # Length of the tuple
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print (alternating_tuple)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [ ]:
Set based problems:

In [ ]:
1. Create a set with integers from 1 to 5

In [3]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
2. Add an element to a set

In [4]:
my_set = {1, 2, 3, 4, 5}

# Add an element to the set
my_set.add(6)

print(my_set)

{1, 2, 3, 4, 5, 6}

In [ ]:
3. Remove an element from a set.

In [5]:
my_set = {1, 2, 3, 4, 5}

try:
    my_set.remove(3)
except KeyError:
    print("Element not found")

print(my_set)

{1, 2, 4, 5}

In [ ]:
4. Check if an element exists in a set.

In [6]:
my_set = {1, 2, 3, 4, 5}

element_to_check = 3

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [ ]:
5. Find the length of a set without using the len() function

In [7]:
my_set = {1, 2, 3, 4, 5}
count = 0

for element in my_set:
    count += 1

print("Length of the set:", count)

Length of the set: 5

In [ ]:
6. Clear all elements from a set.

In [8]:
my_set = {1, 2, 3, 4, 5}

my_set.clear()

print("Set after clearing:", my_set)

Set after clearing: set()

In [ ]:
7. Create a set of even numbers from 1 to 10

In [9]:
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [ ]:
8. Create a set of odd numbers from 1 to 10

In [10]:
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [ ]:
9. Find the union of two sets

In [11]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1 | set2

print("Union of set1 and set2:", union_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
10. Find the intersection of two sets

In [12]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_set = set1.intersection(set2)

print("Intersection of set1 and set2:", intersection_set)

Intersection of set1 and set2: {4, 5}

In [ ]:
11. Find the difference between two sets.

In [13]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference_set = set1.difference(set2)

print("Difference between set1 and set2:", difference_set)

Difference between set1 and set2: {1, 2, 3}

In [ ]:
12. Check if a set is a subset of another set.

In [14]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)

if is_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

In [ ]:
13. Check if a set is a superset of another set.

In [15]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

is_superset = set1.issuperset(set2)

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [ ]:
14. Create a set from a list

In [17]:
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4, 5}

In [ ]:
15. Convert a set to a list.

In [19]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
16. Remove a random element from a set.

In [20]:
my_set = {1, 2, 3, 4, 5}

removed_element = my_set.pop()

print("Removed element:", removed_element)
print("Set after removal:", my_set)

Removed element: 1
Set after removal: {2, 3, 4, 5}

In [ ]:
17. Pop an element from a set.

In [21]:
my_set = {1, 2, 3, 4, 5}

popped_element = my_set.pop()

print("Popped element:", popped_element)
print("Set after popping:", my_set)

Popped element: 1
Set after popping: {2, 3, 4, 5}

In [ ]:
18. Check if two sets have no elements in common.

In [22]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets have no elements in common.")
else:
    print("The sets have elements in common.")

The sets have no elements in common.

In [ ]:
19. Find the symmetric difference between two sets.

In [23]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference_set = set1.symmetric_difference(set2)

print("Symmetric difference between set1 and set2:", symmetric_difference_set)

Symmetric difference between set1 and set2: {1, 2, 3, 6, 7, 8}

In [ ]:
20. Update a set with elements from another set.

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)

print("Updated set1:", set1)

Updated set1: {1, 2, 3, 4, 5}

In [ ]:
21. Create a set of the first 5 prime numbers.

In [25]:
def is_prime(n): 
    if n <= 1: 
        return False
    for i in range(2, int(n**0.5) + 1): 
        if n % i == 0: 
            return False
    return True

primes = set()
for i in range(2, 12): 
    if is_prime(i): 
        primes.add(i)

print(primes)

{2, 3, 5, 7, 11}

In [ ]:
22. Check if two sets are identical.

In [26]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [ ]:
23. Create a frozen set

In [29]:
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

In [ ]:
24. Check if a set is disjoint with another set.

In [30]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint (have no common elements).")
else:
    print("The sets have common elements.")

The sets are disjoint (have no common elements).

In [ ]:
25. Create a set of squares of numbers from 1 to 5.

In [32]:
squares_set = {x ** 2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

In [ ]:
26. Filter out all even numbers from a set.

In [34]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}

odd_numbers_set = {x for x in original_set if x % 2 != 0}
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [ ]:
27. Multiply all elements in a set by 2.

In [36]:
original_set = {1, 2, 3, 4, 5}

# Create a new set with elements multiplied by 2
result_set = {x * 2 for x in original_set}
print(result_set)

{2, 4, 6, 8, 10}

In [ ]:
28. Create a set of random numbers.

In [37]:
import random

random_set = set()

# Add 5 random integers to the set
for _ in range(5):
    random_set.add(random.randint(1, 100))

# Add 5 random floating-point numbers to the set
for _ in range(5):
    random_set.add(random.uniform(0.0, 1.0))

print("Random set:", random_set)

Random set: {0.7684500372620652, 0.14344184741948562, 0.7863954566863781, 0.03962034867089548, 0.11356871411607294, 37, 73, 74, 10, 82}

In [ ]:
29. Check if a set is empty.

In [38]:
my_set = set()

if not my_set:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

In [ ]:
30. Create a nested set

In [40]:
nested_set = frozenset([
    frozenset([1, 2, 3]),
    frozenset([4, 5, 6, frozenset([7, 8, 9])]),
    frozenset([10, 11, 12])
])
print(nested_set)

frozenset({frozenset({1, 2, 3}), frozenset({frozenset({8, 9, 7}), 4, 5, 6}), frozenset({10, 11, 12})})

In [ ]:
31. Remove an element from a set using the discard method.

In [41]:
my_set = {1, 2, 3, 4, 5}

# Remove element 3 from the set using discard
my_set.discard(3)

print("Set after removing 3:", my_set)

# Try to remove element 7, which is not in the set
my_set.discard(7)

print("Set after removing 7:", my_set)

Set after removing 3: {1, 2, 4, 5}
Set after removing 7: {1, 2, 4, 5}

In [ ]:
32. Compare two sets.

In [42]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal.")

The sets are equal.

In [ ]:
33. Create a set from a string.

In [43]:
my_string = "hello"
my_set = set()

for char in my_string:
    my_set.add(char)

print("Set from the string:", my_set)

Set from the string: {'h', 'e', 'l', 'o'}

In [ ]:
34. Convert a set of strings to a set of integers.

In [44]:
set_of_strings = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers
set_of_integers = set()
for string in set_of_strings:
    set_of_integers.add(int(string))

print("Set of integers:", set_of_integers)

Set of integers: {1, 2, 3, 4, 5}

In [ ]:
35. Convert a set of integers to a set of strings.

In [45]:
set_of_integers = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
set_of_strings = set()
for integer in set_of_integers:
    set_of_strings.add(str(integer))

print("Set of strings:", set_of_strings)

Set of strings: {'2', '5', '4', '1', '3'}

In [ ]:
36. Create a set from a tuple.

In [46]:
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)

print("Set from the tuple:", my_set)

Set from the tuple: {1, 2, 3, 4, 5}

In [ ]:
37. Convert a set to a tuple.

In [47]:
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)

print("Tuple from the set:", my_tuple)

Tuple from the set: (1, 2, 3, 4, 5)

In [ ]:
38. Find the maximum value in a set.

In [48]:
my_set = {10, 5, 15, 20, 25, 30}

maximum_value = max(my_set)

print("Maximum value in the set:", maximum_value)

Maximum value in the set: 30

In [ ]:
39. Find the minimum value in a set.

In [49]:
my_set = {10, 5, 15, 20, 25, 30}

minimum_value = min(my_set)

print("Minimum value in the set:", minimum_value)

Minimum value in the set: 5

In [ ]:
40. Create a set from user input.

In [50]:
user_set = set()

while True:
    user_input = input("Enter an element (or 'done' to finish): ")
    
    if user_input == 'done':
        break
    
    user_set.add(user_input)

print("User-set:", user_set)

Enter an element (or 'done' to finish):  1,2,3,4,5
Enter an element (or 'done' to finish):  6,7,8,9,10
Enter an element (or 'done' to finish):  done

User-set: {'6,7,8,9,10', '1,2,3,4,5'}

In [ ]:
41. Check if the intersection of two sets is empty.

In [51]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The intersection of set1 and set2 is empty.")
else:
    print("The sets have common elements.")

The intersection of set1 and set2 is empty.

In [ ]:
42. Create a set of the first 5 Fibonacci numbers.

In [52]:
# Function to generate Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
first_5_fibonacci = generate_fibonacci(5)

print("Set of the first 5 Fibonacci numbers:", first_5_fibonacci)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

In [ ]:
43. Remove duplicates from a list using sets.

In [53]:
my_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]

# Remove duplicates using sets
my_list = list(set(my_list))

print("List with duplicates removed:", my_list)

List with duplicates removed: [1, 2, 3, 4, 5, 6]

In [ ]:
44. Check if two sets have the same elements, regardless of their count.

In [54]:
set1 = {1, 2, 3, 3, 4}
set2 = {4, 3, 2, 1}

if set1 == set2:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [ ]:
45. Create a set of the first n powers of 2

In [55]:
n = 5  # Replace with the number of powers you want
powers_of_2_set = set()

for i in range(n):
    power = 2 ** i
    powers_of_2_set.add(power)

print("Set of the first", n, "powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

In [ ]:
46. Find the common elements between a set and a list.

In [56]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Convert the list to a set and find the common elements using the '&' operator
common_elements = my_set & set(my_list)

print("Common elements (using '&'):", common_elements)

# Convert the list to a set and find the common elements using the intersection() method
common_elements = my_set.intersection(set(my_list))

print("Common elements (using intersection()):", common_elements)

Common elements (using '&'): {3, 4, 5}
Common elements (using intersection()): {3, 4, 5}

In [ ]:
47. Create a set of the first n triangular numbers.

In [57]:
n = 5  # Replace with the number of triangular numbers you want
triangular_numbers_set = set()

for i in range(1, n + 1):
    triangular_number = (i * (i + 1)) // 2
    triangular_numbers_set.add(triangular_number)

print("Set of the first", n, "triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

In [ ]:
48. Check if a set contains another set as a subset.

In [58]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1 using issubset()
if set2.issubset(set1):
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

# Alternatively, check using the <= operator
if set2 <= set1:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.
set2 is a subset of set1.

In [ ]:
49. Create a set of alternating 1s and 0s of length n.

In [59]:
n = 10  # Replace with the desired length
alternating_set = set()

for i in range(n):
    if i % 2 == 0:
        alternating_set.add(0)
    else:
        alternating_set.add(1)

print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

In [ ]:
50. Merge multiple sets into one.

In [60]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge sets using the union() method
merged_set1 = set1.union(set2, set3)

# Merge sets using the | operator
merged_set2 = set1 | set2 | set3

print("Merged set (using union()):", merged_set1)
print("Merged set (using | operator):", merged_set2)

Merged set (using union()): {1, 2, 3, 4, 5, 6, 7}
Merged set (using | operator): {1, 2, 3, 4, 5, 6, 7}